In [1]:
import pandas as pd
import numpy as np

In [ ]:
c5_hourly_electricity = pd.read_csv('merit_order_5pincrease.csv')
c10_hourly_electricity = pd.read_csv('merit_order_10pincrease.csv')
c10_hourly_electricity = pd.read_csv('merit_order_15pincrease.csv')
d_hourly_electricity = pd.read_csv('merit_order_default.csv')


hourly_electricity_scenarios = [d_hourly_electricity, c5_hourly_electricity, c10_hourly_electricity]

number = 1

for hourly_electricity in hourly_electricity_scenarios:

    hourly_electricity_total = pd.DataFrame({
    'Time': hourly_electricity['Time'],
    'Total Supply GW': hourly_electricity.iloc[:, 1:].sum(axis=1)
        })
    hourly_electricity_total = hourly_electricity_total[['Time', 'Total Supply GW']]
    hourly_electricity_total['Total Supply GW'] = (hourly_electricity_total['Total Supply GW']/1000).round(3)
    highest_supply = hourly_electricity_total.loc[hourly_electricity_total['Total Supply GW'].idxmax()]

    if hourly_electricity.equals(d_hourly_electricity):
        supply_comparison = pd.DataFrame({
            'Default Highest Electricity Supply' : highest_supply
        })
    else:
        scenario_highest = pd.DataFrame({
            f'Scenario {number} Highest Electricity Supply' : highest_supply
        })
        supply_comparison = pd.concat([supply_comparison, scenario_highest], axis = 1, ignore_index=False)
        number +=1

supply_comparison

,Default Highest Electricity Supply,Scenario 1 Highest Electricity Supply,Scenario 2 Highest Electricity Supply
Time,2050-01-31 12:00,2050-01-31 12:00,2050-01-31 12:00
Total Supply GW,258.17,258.168,258.21

In [5]:
d_demand = pd.read_csv('application_demands_default.csv')
c10_demand = pd.read_csv('application_demands_10pincrease.csv')
c15_demand = pd.read_csv('application_demands_15pincrease.csv')
c5_demand = pd.read_csv('application_demands_5pincrease.csv')

scenarios = [d_demand, c5_demand, c10_demand, c15_demand]

In [3]:
# print(d_demand[d_demand['key'] == 'households_space_heater_heatpump_air_water_electricity'])
comparison = pd.DataFrame({
    'Appliance' : ['Air Heatpump', 'Hybrid Heatpump'],
    "Default Final Demand of Electricity in billions (MJ)" :[0,0]
})

number = 1

for scenario in scenarios:
    row_airpump = scenario[scenario['key'] == 'households_space_heater_heatpump_air_water_electricity']
    value_airpump = ((row_airpump['final_demand_of_electricity (MJ)'])/1000000000).round(3).values[0]
    row_hybrid = scenario[scenario['key'] == 'households_space_heater_hybrid_heatpump_air_water_electricity']
    value_hybrid = ((row_hybrid['final_demand_of_electricity (MJ)'])/1000000000).round(3).values[0]

    if scenario.equals(d_demand):                    
        comparison.iloc[0,1] = value_airpump
        comparison.iloc[1,1] = value_hybrid
    else:
        scenario_values = pd.DataFrame({f'Scenario {number} Final Demand of Electricity in billions (MJ)': [value_airpump, value_hybrid]})
        comparison = pd.concat([comparison, scenario_values], axis = 1, ignore_index=False)
        number += 1

total_values = ['Total']

for column in range(len(comparison.columns)-1):
    total_values.append(comparison.iloc[:, column+1].sum())

total_df = pd.DataFrame([total_values], columns=comparison.columns)
comparison = pd.concat([comparison, total_df], axis = 0, ignore_index=False)

comparison

/var/folders/0k/1dtmj8756ps3ykn3lkd5fhqc0000gn/T/ipykernel_1009/3698378627.py:16: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '39.169' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  comparison.iloc[0,1] = value_airpump

,Appliance,Default Final Demand of Electricity in billions (MJ),Scenario 1 Final Demand of Electricity in billions (MJ),Scenario 2 Final Demand of Electricity in billions (MJ),Scenario 3 Final Demand of Electricity in billions (MJ)
0,Air Heatpump,39.169,33.325,27.382,21.504
1,Hybrid Heatpump,25.397,31.505,37.748,43.573
0,Total,64.566,64.830,65.130,65.077