In [2]:
import pandas as pd
import numpy as np

In [53]:
d_demand = pd.read_csv('application_demands_default.csv')
c10_demand = pd.read_csv('application_demands_10pincrease.csv')
c15_demand = pd.read_csv('application_demands_15pincrease.csv')
c5_demand = pd.read_csv('application_demands_5pincrease.csv')

scenarios = [d_demand, c5_demand, c10_demand, c15_demand]

In [54]:
# print(d_demand[d_demand['key'] == 'households_space_heater_heatpump_air_water_electricity'])
comparison = pd.DataFrame({
    'Appliance' : ['Air Heatpump', 'Hybrid Heatpump'],
    "Default Final Demand of Electricity in billions (MJ)" :[0,0]
})

number = 1

for scenario in scenarios:
    row_airpump = scenario[scenario['key'] == 'households_space_heater_heatpump_air_water_electricity']
    value_airpump = ((row_airpump['final_demand_of_electricity (MJ)'])/1000000000).round(3).values[0]
    row_hybrid = scenario[scenario['key'] == 'households_space_heater_hybrid_heatpump_air_water_electricity']
    value_hybrid = ((row_hybrid['final_demand_of_electricity (MJ)'])/1000000000).round(3).values[0]

    if scenario.equals(d_demand):                    
        comparison.iloc[0,1] = value_airpump
        comparison.iloc[1,1] = value_hybrid
    else:
        scenario_values = pd.DataFrame({f'Scenario {number} Final Demand of Electricity in billions (MJ)': [value_airpump, value_hybrid]})
        comparison = pd.concat([comparison, scenario_values], axis = 1, ignore_index=False)
        number += 1

total_values = ['Total']

for column in range(len(comparison.columns)-1):
    total_values.append(comparison.iloc[:, column+1].sum())

total_df = pd.DataFrame([total_values], columns=comparison.columns)
comparison = pd.concat([comparison, total_df], axis = 0, ignore_index=False)

comparison

/var/folders/0k/1dtmj8756ps3ykn3lkd5fhqc0000gn/T/ipykernel_50196/3698378627.py:16: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '39.169' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  comparison.iloc[0,1] = value_airpump

,Appliance,Default Final Demand of Electricity in billions (MJ),Scenario 1 Final Demand of Electricity in billions (MJ),Scenario 2 Final Demand of Electricity in billions (MJ),Scenario 3 Final Demand of Electricity in billions (MJ)
0,Air Heatpump,39.169,33.325,27.382,21.504
1,Hybrid Heatpump,25.397,31.505,37.748,43.573
0,Total,64.566,64.830,65.130,65.077

In [22]:
comparison = pd.DataFrame({
    heater_values.columns[0] : heater_values.iloc[:, 0],
    "Primary Demand of Electricity in billions (MJ)" : heater_values.iloc[:, 2]
})

comparison

      Appliance  Primary Demand of Electricity in billions (MJ)
0  Air Heatpump                                       37.712568
1  Air Heatpump                                       24.453373